/**General**/
:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --GREY: #2e2f42b2;
  --WHITE: #ffffff;
  --DAIRY: #fcfcfc;
}

* {
  margin-left: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.brandlogo {
  font-family: "Raleway", sans-serif;
  color: var(--IRIS);
}
.top {
  color: var(--NAVY-BLUE);
}
.bottom {
  color: var(--CLOUD);
}

/**header**/

.nav:hover {
  color: var(--IRIS);
}
.link {
  color: var(--NAVY-BLUE);
  font-weight: 500;
}
.contacts {
  color: var(--SLATE);
}

/**main section**/

button {
  font-family: "Roboto", sans-serif;
}
button:hover {
  background-color: var(--IRIS);
  color: var(--WHITE);
}

h1,
h2 {
  text-align: center;
  font-weight: 700;
}
h2,
h3 {
  color: var(--NAVY-BLUE);
}
h3 {
  font-weight: 500;
}

.Intro {
  background-color: var(--NAVY-BLUE);
  color: var(--WHITE);
}

/**footer**/

footer {
  background-color: var(--NAVY-BLUE);
  color: var(--CLOUD);
}
